# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Models (VERY IMPORTANT)
# =========================
models/
*.h5
*.keras

# =========================
# Data (RAW + PROCESSED)
# =========================
data/raw/
data/processed/

# =========================
# Outputs / Results
# =========================
outputs/

# =========================
# Logs
# =========================
*.log

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Streamlit cache
# =========================
.streamlit/